/*
 * Keyframes
 */
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes nav-in {
  0% {transform: translateX(-100%);}
  50% {transform: translateX(0%);}
  70% {transform: translateX(0%);}
  100% {transform: translateX(0%);}
}